.para1{
    background-color: aquamarine;
}
.para2{
     background-color: darkgoldenrod;
}
.para3{
      background-color: firebrick;
}
@media all and (min-width:801px){
    .container p{
        width: 30%;
        float: left;
        padding: 10px;
    }
}