*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.maintext{
    background-image: url('../Media/task2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    background-attachment: fixed    ;
}

.maintext div{
    margin-top: .75cm;
}
header a{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    align-items: center;
    padding:1em;
    flex-wrap: wrap;
    border: 1px solid black;
    background-image: linear-gradient(to right, rgba(153, 88, 13, 0.534),rgba(131, 128, 119, 0.37),rgb(92, 92, 100),rgba(153, 88, 13, 0.534),rgba(153, 88, 13, 0.534),rgb(190, 177, 169),rgba(153, 88, 13, 0.534),rgb(92, 92, 100),rgba(153, 88, 13, 0.534),rgb(62, 80, 74));

    
}
#logo{
    flex: 2;
}
nav{
    flex: 2;
    display: flex;
    padding: 1em;
    justify-content: center;
    justify-content: center;
    font-size: 1.4rem;
    justify-content: center;  
    transition: 5s linear;
    
}
nav a{
    flex: 1;
    align-content: center;
    
}
.container {
    display: flex;
    gap: 20px;
  }
.maintext button{
    width: 200px;
    font-size: 1.2rem;
    margin-top: .8em;
    border: 1px solid rgb(7, 7, 7);
    border-radius: 8px;
    padding: .4em;
    font-family:Georgia, 'Times New Roman', Times, serif

  }
.tagline1{
    font-size: 3rem;
    font-style: oblique;
}
.tagline2{
    font-size: 2rem;
}
.tagline3{
    font-size: 1.3rem;
}
button:hover{
    background-color: rgba(153, 88, 13, 0.534);
}
nav a:hover{
    color:rgba(153, 88, 13, 0.534);;
    border-bottom: 2px solid black;
}