body{
    margin-top: 50px;
}

body::before{
    content:'XS';
    color:orangered;
    font-size: 30px;
    position: fixed;
    font-weight: bold;
    left:0;
    top:0;
}
@media (min-width: 576px){
    body::before{
        content:'SM';
    }
}
@media (min-width: 768px){
    body::before{
        content:'MD';
    }
}
@media (min-width: 992px){
    body::before{
        content:'LG';
    }
}
@media (min-width: 1200px){
    body::before{
        content:'XL';
    }
}
@media (min-width: 1400px){
    body::before{
        content:'XXL';
    }
}
